[Unit]
Description=TCP/UDP validator service

[Service]
ExecStart=/usr/bin/tcp-udp-validator -p tcp server 0.0.0.0:8080
Restart=always

[Install]
WantedBy=multi-user.target